<hr />

<div class="row">
    <div class="col">
        <input type="button" value="Add New" [routerLink]="['CreatePersonalInfo']" class="btn btn-danger">
    </div>
    <div class="col">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#61442;  Start searching">
    </div>
</div>
<hr />


<div class="form-group row">
    <label for="SelectCountry" class="col-sm-2 col-form-label">Select Country</label>
    <div class="col-sm-6">
        <select class="form-control">
            <option *ngFor="let country of country; let i = index" value="{{i}}">{{country.name}}</option>
        </select>
        <div class="col-sm-4"></div>
    </div>
</div>
<hr />

<table class="table table-hover" border="1">
    <thead>
        <tr>
            <th (click)="sort('id')">ID
                <span class="glyphicon sort-icon" *ngIf="key =='id'"
                    [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th (click)="sort('Name')">Name</th>
            <th (click)="sort('DateofBirth')">DateofBirth</th>
            <th (click)="sort('MobileNo')">Mobile No</th>
            <th (click)="sort('Country')">Country</th>
            <td colspan="1"></td>
        </tr>
        <tr
            *ngFor="let data of personalInfo | orderBy: key : reverse | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <td>{{ data.id }}</td>
            <td>{{ data.Name }}</td>
            <td>{{ data.DateofBirth }}</td>
            <td>{{ data.MobileNo }}</td>
            <td>{{ data.Country }}</td>
            <td><a [routerLink]="['EditPersonalInfo', data.id]" class="btn btn-primary">Edit</a> -
                <a (click)="deletePersonalInfo(data.id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
<br />