<header>
  <div class="container">
    <a routerLink="/" class="logo">Ng 7 Practice</a>
    <nav *ngIf="isLoggedIn$ | async as isLoggedIn">
      <ul>
        <li><a routerLink="/Home">Home</a></li>
        <!-- <li><a routerLink="/ProfileEditor">Profile Editor</a></li> -->
        <!-- <li><a routerLink="/Author">Author: API CRUD</a></li> -->
        <li><a routerLink="/PersonalInfo">Personal Info Module</a></li>
        <li><a routerLink="/Exportdata">Export Data</a></li>
        <li><a routerLink="/Jspdftest">Jspdf Test</a></li>
        <li><a (click)="logout()" *ngIf="isLoggedIn">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>